.course-card {

  cursor: pointer;
  min-width: 290px;
  width: 300px;
  min-height: 360px; /* tất cả card cùng độ cao */
  font-family: 'Inter', sans-serif;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  gap: 12px;
}

/* Header */
.course-header .course-label {
  font-size: 12px;
  font-weight: 600;
  color: #888;
  text-transform: uppercase;
}

.course-title {
  font-size: 20px;
  font-weight: 600;
  margin: 4px 0;
  display: -webkit-box; /* cần thiết */ 
  -webkit-line-clamp: 1; /* số dòng muốn hiển thị */ 
  -webkit-box-orient: vertical; /* hướng box */ 
  overflow: hidden; /* ẩn phần dư */ 
  text-overflow: ellipsis;
}

/* Body */
.course-body {
  /* flex-grow: 1; chiếm khoảng giữa */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.course-desc {
  font-size: 14px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* giới hạn 3 dòng */

  overflow: hidden;
  text-overflow: ellipsis;
}

.course-meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: #333;
}

.duration-chapters {
  color: #555;
}

.duration-chapters i {
  margin-right: 4px;
  color: #3498db;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating i {
  color: #f39c12;
}

.score {
  font-weight: 500;
  color: #333;
}

/* Footer */
.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.level {
  background: #e8f5e9;
  color: #2e7d32;
}

.studying-now {
  background: #e3f2fd;
  color: #1565c0;
}

.level, .studying-now {
  border-radius: 6px;
  padding: 2px 8px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.studying-now i {
  margin-right: 4px;
  color: #1565c0;
}


.swiper{
  padding:30px 20px;
  
}